@use "../../styles/constants";

.container {
  h2 {
    color: #5e4339;
  }
  margin-bottom: 75px;

  @media (max-width: constants.$section-max-width) {
    margin: 0 1rem;
  }
}

.categories {
  display: grid;
  justify-content: stretch;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  width: 100%;
  gap: 15px;
}
