.header {
  background-color: #fff;

  .headerContainer {
    max-width: var(--section-max-witdh);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navContainer {
  background-color: var(--color-ica-pink);

  nav {
    color: red;
    max-width: var(--section-max-witdh);
    margin: auto;
  }
}

.shopInfo {
  position: relative;

  button {
    border: none;
    background-color: red;
    border-radius: 50%;
  }

  .extraInfo {
    position: absolute;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    background-color: #fff;
    padding: 1rem;

    &.closed {
      display: none;
    }
    &.open {
      display: block;
    }

    .openHours {
      .time {
        min-width: 30vw;
        display: grid;
        grid-template-columns: 1fr 1fr;

        &span {
          white-space: nowrap;
        }
      }
    }
  }
}

.button {
  border: none;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}

button.loginButton {
  @extend .button;
  background-color: var(--color-ica-pink);
  color: var(--color-ica-red);
}

button.cartButton {
  @extend .button;
  background-color: var(--color-ica-red);
  color: #fff;
}
